{% extends "home.html" %}
{% block title %}Enter tickers{% endblock %}
{% block content %}
<h1 class="title">Curva de LEDES y LECER</h1>

<section class='login' id='login'>
<form action="" method="post" name="ticker_form">
    <div class="form">
        <select name="letra" class="form-select" aria-label="size 3 select example">>
            <option value="ledes">LEDES</option>
            <option value="lecer">LECER</option>
            <option value="both">LEDES y LECER</option>
        </select>
    </div><br>

    <div class="date">
        <input type="date" id="start" class="date" name="date"
               min={{dates[0]}} max={{dates[1]}}><br>
    </div><br>

    <div class="control">
        <button class="button is-primary is-small">Send</button>
    </div>
</form>
</section>
{% endblock %}